{% extends "base.html" %}
{% load static %}

{% block header %}
{{ header }}

{% endblock %}



{% block content %}
<div class="container">
    <h1>Bed {{ bed.bed_code }}</h1>

    <div>
        {% comment %} PATIENT INFO {% endcomment %}
        <table class="table">
            <tr>
                <td>Bed Unit</td><td>{{ bed.room.unit.name }}</td>
            </tr>
            <tr>
                <td>Room</td><td>{{ bed.room.number }}</td>
            </tr>
            <tr>
                <td>Bed Letter</td><td>{{ bed.bed_letter }}</td>
            </tr>
        </table>
    </div>
    <div>
        <form method="POST" action="{% url "detail_bed_view" bed.id %}">
            {% csrf_token %}

            <div class="form-group">
                <input type="hidden" name="bed_id" value={{ bed.id }}>

                <div class="row">
                    <div class="col-sm-6">
                        <label for="patient-select">Choose Patient</label>
                        <select name="patient_id" class="form-control" id="patient-select">
                            {% for patient in patients %}
                            <option value={{ patient.emp_number }}>{{ patient.last_name }}, {{ patient.first_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <label for="nurse-select">Choose Nurse</label>
                        <select name="nurse_id" class="form-control" id="nurse-select">
                            {% for nurse in nurses %}
                            <option value={{ nurse.emp_number }}>{{ nurse.last_name }}, {{ nurse.first_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

            </div>

            <div class="form-group">
                <button class="btn btn-primary mt-2" type="submit">Assign</button>
            </div>

        </form>
    </div>

</div>
{% endblock %}
