{% extends "base.html" %}
{% load static %}

{% block header %}
{{ header }}
{% endblock %}



{% block content %}
<div class="container">
    <ul>
        <!-- Iterate over object_list -->
        {% for bed in object_list %}
            <!-- Display Objects -->
            <li>
                <h1>
                    <a href="{% url "detail_bed_view" bed.id %}">
                        {{ bed.bed_code }}
                    </a>
                </h1>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
