{% extends "base.html" %}
{% load static %}

{% block header %}
View Consultations
{% endblock %}



{% block content %}
<div class="container">

    <!-- Iterate over object_list -->
    <table class="table">
        <tr>
            <th>Patient</th>
            <th>Physician</th>
            <th>Date</th>
            <th>View Consultation</th>
        </tr>
        {% for consultation in object_list %}
        <tr>
            <td><a href="{% url "detail_patient_view" consultation.patient.emp_number %}">{{ consultation.patient.last_name }}, {{ consultation.patient.first_name }}</a></td>
            <td>{{ consultation.physician.last_name }}, {{ consultation.physician.first_name }}</td>
            <td>{{ consultation.date }}</td>
            <td><a href="{% url "detail_consultation_view" consultation.id %}">View</a></td>
        </tr>
        {% endfor %}
    </table>

</div>
{% endblock %}
