{% extends "base.html" %}
{% load static %}

{% block header %}
{{ header }}

{% endblock %}



{% block content %}
<div class="container">
    {% if messages %}
        {% for message in messages %}
            <div class ="alert alert-danger" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <form id="the-form" method="POST" action="{{ post_to }}">
        {% csrf_token %}
        {% for dict in formset.errors %}
            {% for error in dict.values %}
                {{ error }}
            {% endfor %}
        {% endfor %}
        <div class="form-group">
            {{ model_form }}
        </div>
        <button type="submit">Submit</button>
    </form>
</div>
{% endblock %}
