{% extends "base.html" %}
{% load static %}

{% block header %}
{{ header }}

{% endblock %}



{% block content %}
<div class="container">
    {% if messages %}
        {% for message in messages %}
        <div class = "container-fluid p-0">
            <div class= "alert {{ message.tags }}" role="alert">
                {{ message }}
            </div>
        </div>
        {% endfor %}
    {% endif %}

    <form id="the-form" method="POST" action="{{ post_to }}">
        {% csrf_token %}
        <div class="form-group">
            {{ form.as_table }}
        </div>
        <button type="submit" class="btn btn-primary mt-2">Submit</button>
    </form>
</div>
{% endblock %}
