{% extends "base.html" %}
{% load static %}

{% block header %}
Welcome
{% endblock %}

{% block content %}
<div class="container">

    <div class = "row">
        <div class="col">
            <h1> Welcome to Newark Medical Associates Admin Portal</h1>
        </div>
    </div>
    <div class = "row">
        <div class="col">
            <h3>Serving {{ patients.count }} patients</h3>
        </div>
    </div>
    <div class = "row">
        <div class="col">
            <h3>With a network of {{ physicians.count }} Physicians</h3>
        </div>
    </div>
    <div class = "row">
        <div class="col">
            <h3>Over {{ surgeons.count }} Surgeons</h3>
        </div>
    </div>
    <div class = "row">
        <div class="col">
            <h3>And {{ nurses.count }} Nurses</h3>
        </div>
    </div>
</div>



{% endblock %}