{% extends "base.html" %}
{% load static %}

{% block header %}
    <div class="">
        <h1>Manage Physicians</h1>
    </div>
{% endblock %}



{% block content %}
<div class="container">

        <!-- Iterate over object_list -->
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Speciality</th>
                <th class="text-center">Number of Patients</th>
                <th class="text-center">Number of Prescriptions</th>
                <th class="text-center">Medical Record</th>
                
            </tr>
            {% for physician in object_list %}
            <tr>
                <td> {{ physician.last_name }}, {{ physician.first_name }}</a></td>
                <td> {{ physician.specialty }} </td>
                <td class="text-center"> {{ physician.patients }} </td>
                <td class="text-center"> {{ physician.perscriptions }} </td>
                {% if physician.isPatient %}
                <td class="text-center"><a href="{% url "detail_patient_view" physician.emp_number %}">View Record</a></td>
                {% else %}
                    <td class="text-center"> No Record, <a href="{% url "staff_to_patient" physician.emp_number %}"> Add </a></td>
                {% endif %}
            </div>
            </tr>
            {% endfor %}
        </table>

</div>
{% endblock %}
