{% extends "base.html" %}
{% load static %}

{% block header %}
{{ header }}
{% endblock %}



{% block content %}
<div class="container">

        <!-- Iterate over object_list -->
        <table class="table">
            <tr>
                <th>Medication</th>
                <th>Patient</th>
                <th>Perscribing Physician</th>
                <th>View Perscription</th>
            </tr>
            {% for perscription in object_list %}
            <tr>
                <td>{{ perscription.medication.name }}</td>
                <td>{{ perscription.patient.last_name }}, {{ perscription.patient.last_name }}</td>
                <td>{{ perscription.physician.last_name }}, {{ perscription.physician.last_name }}</td>
                <td><a href="{% url "detail_perscription_view" perscription.id %}">View</a></td>
            </tr>
            {% endfor %}
        </table>
</div>
{% endblock %}
