{% extends "base.html" %}
{% load static %}

{% block header %}
{{ header }}

{% endblock %}



{% block content %}
<div class="container">
    <h1>Perscription for {{ object.patient.last_name }}, {{ object.patient.first_name }}</h1>

    <div class="col-sm-6">
        <table class="table">
            <tr>
                <td>Patient</td><td>{{ object.patient.last_name }}, {{ object.patient.first_name }}</td>
            </tr>
            <tr>
                <td>Perscribing Physician</td><td>{{ object.physician.last_name }}, {{ object.physician.first_name }}</td>
            </tr>
            <tr>
                <td>Medication</td><td>{{ object.medication }}</td>
            </tr>
            <tr>
                <td>Frequency</td><td>{{ object.frequency }}</td>
            </tr>
            <tr>
                <td>Dosage</td><td>{{ object.dosage }}</td>
            </tr>

        </table>
    </div>

</div>
{% endblock %}
